<ion-content>
    <ion-grid>
      <ion-row center>
        <ion-col>
          <form [formGroup]="frm">
            <div class="form-group">
              <ion-input
                placeholder="Email"
                formControlName="email"></ion-input>

              <ion-text
                color="danger"
                class="text-error"
                *ngIf="formErrors.email && email.invalid && (email.dirty || email.touched)">
                <small>{{ formErrors?.email }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-input
                placeholder="Username"
                formControlName="username"></ion-input>

              <ion-text
                color="danger"
                class="text-error"
                *ngIf="formErrors.username && username.invalid && (username.dirty || username.touched)">
                <small>{{ formErrors?.username }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-input
                placeholder="Full Name"
                formControlName="fullName"></ion-input>

              <ion-text
                color="danger"
                class="text-error"
                *ngIf="formErrors.fullName && fullName.invalid && (fullName.dirty || fullName.touched)">
                <small>{{ formErrors?.fullName }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-input
                type="password"
                placeholder="Password"
                formControlName="password"></ion-input>

              <ion-text
                color="danger"
                class="text-error"
                *ngIf="formErrors.password && password.invalid && (password.dirty || password.touched)">
                <small>{{ formErrors?.password }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-input
                type="password"
                placeholder="Confirm Password"
                formControlName="confirmPassword"></ion-input>

              <ion-text
                color="danger"
                class="text-error"
                *ngIf="formErrors.confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                <small>{{ formErrors?.confirmPassword }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-button
                color="primary"
                expand="block"
                [disabled]="frm.pristine || frm.invalid"
                (click)="signUp()">
                Sign Up
              </ion-button>
            </div>
          </form>

          <p class="ion-text-center">
            <a href="#" color="light">Forgot password?</a>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
