.form-group {
  margin-bottom: $size-base;

  ion-input {
    --padding-start: 15px;
    --padding-top: 13px;
    --padding-bottom: 13px;
    border-radius: $input-radius-size;
    border: 1px solid $border-color;
    overflow: hidden;

    &.ion-invalid.ion-touched {
      border-color: var(--ion-color-primary);
    }
  }

  .text-error {
    display: block;
    margin-top: $size-base / 4;
  }
}
