<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news-feed">
      <ion-icon name="md-paper"></ion-icon>
      <ion-label>News Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="md-calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plans">
      <ion-icon name="md-list-box"></ion-icon>
      <ion-label>Plans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="md-notifications"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="md-contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
