<ion-content>
  <ion-grid>
    <ion-row center>
      <ion-col>
        <ion-button
          class="ion-text-uppercase"
          [routerLink]="['/login']"
          color="dark"
          expand="block"
          strong="true">Login</ion-button>

        <ion-button
          class="ion-margin-top ion-text-uppercase"
          [routerLink]="['/sign-up']"
          color="danger"
          expand="block"
          strong="true">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
