<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        defaultHref="/"
        color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row center>
      <ion-col>
        <form [formGroup]="frm">
          <div class="form-group">
            <ion-input
              placeholder="Username"
              formControlName="username"></ion-input>

            <ion-text
              color="danger"
              class="text-error ion-padding-start"
              *ngIf="formErrors.username && username.invalid && (username.dirty || username.touched)">
              <small>{{ formErrors?.username }}</small>
            </ion-text>
          </div>

          <div class="form-group">
            <ion-input
              placeholder="Password"
              type="password"
              formControlName="password"></ion-input>

            <ion-text
              color="danger"
              class="text-error ion-padding-start"
              *ngIf="formErrors.password && password.invalid && (password.dirty || password.touched)">
              <small>{{ formErrors?.password }}</small>
            </ion-text>
          </div>

          <div class="form-group">
            <ion-button
              class="ion-text-uppercase"
              color="primary"
              expand="block"
              strong="true"
              [disabled]="frm.pristine || frm.invalid"
              (click)="login()">
              Login

              <ion-spinner
                class="ml-5"
                name="crescent"
                *ngIf="isLoading"></ion-spinner>
            </ion-button>
          </div>
        </form>

        <p class="ion-text-center">
          <ion-text
            color="dark"
            [routerLink]="['/forgot-password']">
            Forgot password?
          </ion-text>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>