<ion-content>
  <ion-grid>
    <ion-row center>
      <ion-col>
        <form [formGroup]="frm">
          <div class="form-group">
            <ion-input
              placeholder="Username"
              formControlName="username"></ion-input>

            <ion-text
              color="danger"
              class="text-error"
              *ngIf="formErrors.username && username.invalid && (username.dirty || username.touched)">
              <small>{{ formErrors?.username }}</small>
            </ion-text>
          </div>

          <div class="form-group">
            <ion-input
              placeholder="Password"
              type="password"
              formControlName="password"></ion-input>

            <ion-text
              color="danger"
              class="text-error"
              *ngIf="formErrors.password && password.invalid && (password.dirty || password.touched)">
              <small>{{ formErrors?.password }}</small>
            </ion-text>
          </div>

          <div class="form-group">
            <ion-button
              color="primary"
              expand="block"
              [disabled]="frm.pristine || frm.invalid"
              (click)="login()">
              Login
            </ion-button>
          </div>
        </form>

        <p class="ion-text-center">
          <a href="#" color="light">Forgot password?</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>