<ion-content>
    <ion-grid>
      <ion-row center>
        <ion-col>
          <form [formGroup]="frm">
            <div class="form-group">
              <ion-input
                placeholder="Email"
                formControlName="email"></ion-input>

              <ion-text color="danger" *ngIf="formErrors.email">
                <small>{{ formErrors?.email }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-input
                placeholder="Username"
                formControlName="username"></ion-input>

              <ion-text color="danger" *ngIf="formErrors.username">
                <small>{{ formErrors?.username }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-input
                placeholder="Full Name"
                formControlName="fullName"></ion-input>

              <ion-text color="danger" *ngIf="formErrors.fullName">
                <small>{{ formErrors?.fullName }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-input
                type="password"
                placeholder="Password"
                formControlName="password"></ion-input>

              <ion-text color="danger" *ngIf="formErrors.password">
                <small>{{ formErrors?.password }}</small>
              </ion-text>
            </div>

            <div class="form-group">
              <ion-input
                type="password"
                placeholder="Confirm Password"
                formControlName="confirmPassword"></ion-input>

              <ion-text color="danger" *ngIf="formErrors.confirmPassword">
                <small>{{ formErrors?.confirmPassword }}</small>
              </ion-text>
            </div>

            <ion-button
              color="primary"
              expand="block"
              [disabled]="frm.pristine || frm.invalid">
              Sign Up
            </ion-button>
          </form>

          <a href="#" color="light">Forgot password?</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
