<ion-content>
    <ion-grid>
      <ion-row center>
        <ion-col>
          <form [formGroup]="frm">
            <ion-input
              placeholder="Email"
              formControlName="email"></ion-input>

            <ion-input
              placeholder="Username"
              formControlName="username"></ion-input>

            <ion-input
              placeholder="Full Name"
              formControlName="fullName"></ion-input>

            <ion-input
              type="password"
              placeholder="Password"
              formControlName="password"></ion-input>

            <ion-input
              type="password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"></ion-input>

            <ion-button color="primary" expand="block">Login</ion-button>
          </form>

          <a href="#" color="light">Forgot password?</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
