<footer>
  <div
    (click)="likeAndUnlike(activity._id)"
    *ngIf="!isOwner && activity.like && !activity.like.status"
    class="profile-like border-right d-inline-block">
    <ion-icon name="heart-empty"></ion-icon>
  </div>

  <div
    (click)="likeAndUnlike(activity._id)"
    *ngIf="!isOwner && activity.like && activity.like.status"
    class="profile-like border-right d-inline-block text-primary">
    <ion-icon name="heart"></ion-icon>
  </div>

  <div class="profile-comment border-right d-inline-block text-muted">
    <ion-icon name="chatboxes"></ion-icon>
  </div>
</footer>
