<footer>
  <div
    *ngIf="isOwner"
    class="profile-like border-right d-inline-block not-cursor">
    <ion-icon name="heart"></ion-icon>
  </div>

  <div
    class="profile-like border-right d-inline-block">
    <ion-icon name="heart-empty"></ion-icon>
  </div>

  <div
    *ngIf="!isOwner"
    class="profile-like border-right d-inline-block">
    <ion-icon name="heart"></ion-icon>
  </div>

  <div class="profile-comment border-right d-inline-block">
    <ion-icon name="text"></ion-icon>
  </div>
</footer>
